body{
    margin:0;
    background:black;
}

div,input,textarea{
    box-sizing: border-box;
}

.component-signup{
    background: white;
    width:80%;
    max-width: 600px;
    min-width: 400px;
    margin:auto;
    padding:30px;
    border:2px dashed yellowgreen;
}

.component-signup input,
.component-signup textarea{
    width: 100%;
    font-size:20px;
    padding:10px;
    border:2px solid purple;
    border-radius: 15px;
}

.component-signup input[type=summit]
{
    width:200px !important;
    background:orange;
    border:2px solid darkorange;
}

.component-signup input[type=submit]:hover
.component-signup input[type=submit]:active
.component-signup input[type=submit]:focus
{
    background:cyan;
    border: 2px solid darkcyan;
}

.component-signup input[type=checkbox]{
    width:20px;
}


#width-40{
    width:50%;
    float:left;
    margin-right:30px;
}

.clear-both{
    clear:both;
}